# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
